---
import PageHeading from "../components/page-heading.astro";
import Project from "../components/projects.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="My Projects">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="My Projects"
      description="Here are some projects I’m working on. I love creating and exploring new ideas, so check back often for updates!" />

    <div class="z-50 flex flex-col items-stretch w-full gap-5 my-8">
      <Project />
    </div>
  </section>
</Layout>
