<section class="max-w-4xl mx-auto px-7 lg:px-0 pb-8">
  <h2
    class="text-2xl font-bold leading-10 tracking-tight text-neutral-900 dark:text-neutral-100"
  >
    Skills and Technologies
  </h2>
  <p class="mb-6 text-base text-neutral-600 dark:text-neutral-400">
    Here are a few of the technologies and skills I'm proficient in.
  </p>
  <div class="grid items-stretch w-full grid-cols-1 sm:grid-cols-2 gap-7 mt-7">
    <div>
      <h3
        class="text-lg font-bold leading-10 tracking-tight text-neutral-900 dark:text-neutral-100"
      >
        Competencies
      </h3>
      <ul class="flex flex-col gap-2">
        <li class="flex items-center gap-2">
          → Linear and Non-Linear Controller Design.
        </li>
        <li class="flex items-center gap-2">
          → Data Analysis - Identify trends, anomalies and optimize systems -
          Sensor Fusion.
        </li>
        <li class="flex items-center gap-2">
          → Parametric and Non-Parametric Approaches for System Identification.
        </li>
        <li class="flex items-center gap-2">
          → Data based and Model based Approach for System design and Control.
        </li>
      </ul>
    </div>
    <div>
      <h3
        class="text-lg font-bold leading-10 tracking-tight text-neutral-900 dark:text-neutral-100"
      >
        Technologies
      </h3>
      <ul class="flex gap-4 flex-wrap">
        <li class="flex items-center gap-2">
          <img
            src="/assets/images/technologies/python.png"
            alt="Python"
            title="Python"
            class="w-8 h-8"
            loading="lazy"
          />
        </li>
        <li class="flex items-center gap-2">
          <img
            src="/assets/images/technologies/matlab.png"
            alt="MATLAB"
            title="MATLAB"
            class="w-8 h-8"
            loading="lazy"
          />
        </li>
        <li class="flex items-center gap-2">
          <img
            src="/assets/images/technologies/selenium.png"
            alt="Selenium"
            title="Selenium"
            class="w-8 h-8"
            loading="lazy"
          />
        </li>
        <li class="flex items-center gap-2">
          <img
            src="/assets/images/technologies/javascript.png"
            alt="JavaScript"
            title="JavaScript"
            class="w-8 h-8"
            loading="lazy"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
